<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Fechas</h1>
<form action="#" method="post" th:action="@{/fechas/submit}" th:object="${Fecha}">
    <fieldset>
    <label><strong>Introduce una fecha 'AAAA-MM-DD':</strong>
        <input type="text" id="fecha1" th:field="*{fecha1}" /> </label><br/>
    <label><strong>Introduce otra fecha 'AAAA-MM-DD':</strong>
        <input type="text" id="fecha2" th:field="*{fecha2}" /> </label><br/>
    <strong>Tipo de cálculo entre fechas:</strong><br />
        <label><input type="radio" name="modo" value="true" th:field="*{tipo}"/>Días entre fechas</label><br />
        <label><input type="radio" name="modo" value="false" th:field="*{tipo}"/>Años bisiestos entre fechas</label><br/>
    <input type="submit" value="Enviar" />
    </fieldset>
</form>

</body>
</html>