<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <style>
        .cssError {
            background-color: red;
        }
    </style>
</head>
<body>
<h1>Nuevo empleado</h1>
<form method="post" action="#" th:action="@{/editar/{id}/submit(id=${empleadoForm.id})}" th:object="${empleadoForm}">
    <input type="hidden" id="id" th:field="*{id}" readonly/> </label>
    <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br />
    <div th:classappend="${#fields.hasErrors('email')} ? 'cssError'">
        <label>Email:<input type="text" id="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class=".cssError">texto error</span>
        </label>
    </div>
    <br />
    <label>Salario:<input type="text" id="salario" th:field="*{salario}" /></label><br />
    <label>En Activo:<input type="checkbox" id="enActivo" th:field="*{enActivo}"></label><br />
    Genero:<br />
    <div th:each="gen : ${T(com.example.app.entity.Genero).values()}">
        <input type="radio" name="button1" th:value="${gen}" th:text="${gen}" th:field="*{genero}" />
    </div>
    <input type="submit" value="Enviar" />
</form>
<p th:text="${txtError}">error</p>
<a href="/">Inicio</a><br />

</body>

</html>