<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
</head>
<body>
<h1 th:text="${tituloListado}">Título listado</h1>
<table>
    <thead>
    <th>ID</th><th>Nombre</th><th>Email</th><th>Salario</th>
    <th>Activo</th><th>Genero</th>
    </thead>
    <tbody>
    <tr th:each="empleado : ${listaEmpleados}">
        <td th:text="${empleado.id}">Id</td>
        <td th:text="${empleado.nombre}">nombre</td>
        <td th:text="${empleado.email}">email@gmail.com</td>
        <td th:text="${empleado.salario}">Salario</td>
        <td th:text="${empleado.enActivo}">Activo</td>
        <td th:text="${empleado.genero}">Genero</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Inicio</a><br/>
<a th:href="@{/listado1/1000}">Listado 1 (salario > 1000 euros)</a><br/>
<a th:href="@{/listado2}">Listado 2 (salario > media)</a><br/>
Salario filtro:<br/>
<input  id="filtroSalario" />
<button th:onclick="'location.href=\'/listado1/\' + document.getElementById(\'filtroSalario\').value'">Enviar</button>


</body>
</html>
