<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script>
        function changeDepartamento(){
            const select = document.getElementById("select");
            if (select.value == 0) window.location.href = "/empleado/";
            else window.location.href = "/empleado/list/porDepto/"+select.value;
        }
    </script>
</head>
<body>
<div id="principal" class="col-sm-12" style="background-color:lightblue;margin-right-color:#F4FBEB">
    <div class="nav-expand-lg" id="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/index}"><strong>Inicio</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/depto/}"><strong>Gestión de departamentos</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/empleado/}"><strong>Gestión de empleados</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/categoria/}"><strong>Gestión de categorias</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/proyecto/}"><strong>Gestión de proyectos</strong></a>
            </li>
        </ul>
    </div>
</div>
<h1>Listado de empleados de la empresa</h1>
<select id="select" onChange="changeDepartamento();">
    <option value="0">Todos</option>
    <option th:each="dep : ${listaDepartamentos}"
            th:value="${dep.id}" th:text="${dep.nombre}"
            th:selected="${dep} == ${deptoSeleccionado} ? true : false">

    </option>
</select>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Salario</th>
        <th>Activo</th>
        <th>Genero</th>
        <th>Departamento</th>
        <th>Categoria</th>
        <th>Proyectos</th>
        <th>Editar</th>
        <th>Borrar</th>
        <th>Cambiar Email</th>
    </thead>
    <tbody>
    <tr th:each="empleado : ${listaEmpleados}">
        <td th:text="${empleado.id}">Id</td>
        <td th:text="${empleado.nombre}">nombre</td>
        <td th:text="${empleado.email}">email@gmail.com</td>
        <td th:text="${empleado.salario}">0</td>
        <td th:text="${empleado.enActivo}">bool</td>
        <td th:text="${empleado.genero}">genero</td>
        <td th:text="${empleado.departamento.nombre}">departamento</td>
        <td th:text="${empleado.categoria.nombre}">categoria</td>
        <td><a th:href="@{/emplProy/emp/{id}(id=${empleado.id})}">Proyectos</a></td>
        <td><a th:href="@{/empleado/editar/{id}(id=${empleado.id})}">Editar</a></td>
        <td><a th:href="@{/empleado/delete/{id}(id=${empleado.id})}">Borrar</a></td>
        <td><a th:href="@{/empleado/editEmail/{id}(id=${empleado.id})}">Cambiar email</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Inicio</a><br/>
<a th:href="@{/empleado/nuevo}">Nuevo empleado</a><br/>
<a th:href="@{/empleado/listado2}">Listado filtrado</a><br/>
<h5>Nombre del empleado con mayor id:</h5>
<p th:text="${nombreEmpleadoMax}"></p>
</body>
</html>
